<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>글쓰기</title>
</head>

<body>
<main layout:fragment="main">
    <div class="container">
        <h1>글쓰기</h1>

        <script>
            let WriteForm__submitDone = false;

            function WriteForm__submit(form) {
                if (WriteForm__submitDone) {
                    return;
                }

                form.subject.value = form.subject.value.trim();

                if (form.subject.value.length == 0) {
                    warningModal("글 제목을 입력해주세요.");
                    form.subject.focus();
                    return;
                }

                form.content.value = form.content.value.trim();

                if (form.content.value.length == 0) {
                    warningModal("글 내용을 입력해주세요.");
                    form.content.focus();
                    return;
                }

                form.submit();
                WriteForm__submitDone = true;
            }

        </script>

        <form th:action method="POST" enctype="multipart/form-data" onsubmit="WriteForm__submit(this); return false;">

            <div class="form-control mb-3">
                <label class="label">
                    <span class="label-text">제목</span>
                </label>
                <input type="text" name="subject" class="input input-bordered">
            </div>

            <div class="form-control mb-3">
                <label class="label">
                    <span class="label-text">내용</span>
                </label>
                <textarea name="content" class="input input-bordered"></textarea>
            </div>

            <div class="form-control mt-3">
                <label class="label">
                    <span class="label-text">해시태그</span>
                </label>
                <input type="text" name="keywords" class="input input-bordered">
            </div>

            <div class="grid mt-3">
                <input class="btn btn-primary" type="submit" value="작성">
            </div>
        </form>
    </div>
</main>
</body>
</html>