<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>회원정보수정</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-login flex-grow flex flex-col items-center justify-center">

        <div class="max-w-md w-full px-2 pt-4">
            <h1 class="font-bold text-lg">회원정보수정</h1>

            <script>
                let MemberModify__submitDone = false;

                function MemberModify__submit(form) {
                    if (MemberModify__submitDone) {
                        return;
                    }

                    form.email.value = form.email.value.trim();

                    if (form.email.value.length == 0) {
                        warningModal("변경할 이메일을 입력해주세요.");
                        form.email.focus();

                        return;
                    }

                    form.nickname.value = form.nickname.value.trim();

                    if (form.nickname.value.length == 0) {
                        warningModal("등록할 닉네임을 입력해주세요.");
                        form.nickname.focus();

                        return;
                    }

                    form.submit();
                    MemberModify__submitDone = true;
                }
            </script>

            <form th:action method="POST" class="flex flex-col gap-3" onsubmit="MemberModify__submit(this); return false;">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">이메일</span>
                    </label>
                    <input autofocus type="text" name="email" placeholder="이메일" class="input input-bordered" maxlength="50">
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">닉네임</span>
                    </label>
                    <input type="text" name="nickname"
                           placeholder="닉네임 (작가명)" class="input input-bordered" maxlength="50">
                </div>

                <div class="grid grid-cols-2 mt-2 gap-2">
                    <input class="btn btn-primary" type="submit" value="수정하기">
                </div>
            </form>
        </div>

        </div>
    </section>

</main>
</body>
</html>